<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <link rel="stylesheet" type="text/css" th:href="@{/board/css/detail.css}">
</head>
<body>
<div class="main">
    <h1>게시물 상세보기</h1>
    <label for="writer">작성자 :</label>
    <input type="text" name="writer" id="writer" th:value="${boardData.writer}" disabled>

    <label for="title">제목 :</label>
    <input type="text" name="title" id="title" th:value="${boardData.title}" disabled>

    <label for="content">내용 :</label>
    <textarea name="content" id="content" th:text="${boardData.content}" disabled></textarea>

    <a th:href="@{/board/update/{seq}(seq=${boardData.seq})}" id="update">수정</a>
    <a th:href="@{/board/delete/{seq}(seq=${boardData.seq})}" id="delete">삭제</a>
</div>
</body>
</html>
